<div class="mb-6 border-b border-stone-800 pb-6">
  <a href="/books/new" class="p-2 bg-stone-600 hover:bg-opacity-70 active:scale-95 rounded-md mr-2">Новая книга</a>
</div>
{{#each books}}
  {{> bookCard book=this haveLink=true}}
{{/each}}